<!DOCTYPE html static "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>武汉长乐教育PHP课程-博客系统开发</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
    <div id="innerHeader">
        <div id="blogLogo"></div>
        <div class="blog-header">
            <div class="blog-title"><IMG SRC="../static/images/logo.png"  style="border:1px solid gray" BORDER="0" ALT="" align="absmiddle"> <a href="http://www.whphp.com">WHPHP</a></div>
            <div class="blog-desc">武汉长乐教育PHP课程-博客系统开发</div>
        </div>
        <div id="menu">
            <ul>
                <li><a href="index.php">日志首页</a></li>
                <li><a href="index.php?action=add">撰写日志</a></li>
                <li><a href="">官方网站</a></li>
            </ul>
        </div>
    </div>
</div>
<!--中间部分-->
<div id="mainWrapper">
    <div id="content" class="content">
        <div id="innerContent">
            <div class="announce text" style="border:1px solid silver;padding:5px;font-size:14px;">
                <h4 style="color:#FF3300"><img src="../static/images/wav.gif" width="18" height="18" border="0" alt="" align="absmiddle"> 简单的BLOG示例</h4>
                本示例Blog包括日志的新增、修改、列表、统计、评论和删除等功能,可以作为入门PHP的绝佳示例。<P>请按照下面步骤操作，增加分类、添加日志、增加评论。
            </div>
            <!--
            <div class="article-top">
                <div class="view-mode">浏览模式: <a href="?mode=normal">普通</a> | <a href="?mode=list">列表</a></div><div class="pages">{$page}</div>
            </div>
            -->

            <div>
                <?php foreach($info as $v){ ?>
                    <div class='textbox-title'>
                    <h4>
                    <img src='../static/images/icon_point2.gif' width='13' height='13' border='0'
                              align='absmiddle'>
                    <a href=index.php?action=show&id=<?php echo $v["id"]; ?>><?php echo $v["title"]; ?></a>
                    </h4>
                    <div class='textbox-label'>



                    [ 2014-9-12 15:30:20  | <a href='#'><?php echo $v["cate"]; ?> </a>]
                    </div>
                    </div>
                    <div class='textbox-content'><?php echo $v["content"]; ?></div>
                   <div class='textbox-bottom'>
                    [ 管理：<a href=index.php?action=edit&id=<?php echo $v["id"]; ?> >编辑</a> <a href=index.php?action=del_art&del_id=<?php echo $v["id"];?>>删除 </a> ]

                    | <a href=show.php?id=<?php echo $v["id"]; ?>>评论:<?php echo $v["comm"];?></a> | 浏览: <?php echo $v["views"];?>
                    </div>
                <?php } ?>
            </div>
            <!--
            <div class="article-bottom">
                <div class="pages">{$page}
                </div>
            </div>
            -->
        </div>
    </div>

    <div id="sidebar" class="sidebar">
        <div id="innerSidebar">
            <div id="panelSearch" class="panel">
                <div id="panelStats" class="panel">
                    <h5>统计数据</h5>
                    <div class="panel-content">


                        日志总数：<span style='color:#CC9933'><?php echo $count["num_rizhi"]; ?></span><br />
                        阅读总数：<span style='color:#6699FF'><?php echo $count["num_sum"]; ?></span><br />
                        评论总数：<span style='color:#FF9900'><?php echo $count["num_pinglun"]; ?></span><br />


                    </div>
                </div>
                <h5 >日志分类 </h5>
                <div class="panel-content">
                    <ul id="category">



                        <li>
                            <form action="" method="post">
                            <div class="fLeft" >
                                <input TYPE="text" id="categoryName" class="text" NAME="name">
                            </div>
                            <input TYPE="submit" value="增 加" class="submit hMargin small">
                            <br style="clear:both;float:auto"/>
                            </form>
                        </li>


                        <?php foreach($cat as $v){ ?>
                                <li>
                                <img src='../static/images/folder.gif' width='18' height='18'
                                         border='0'  align='absmiddle'>
                                <a href='#'><?php echo $v["name"]; ?></a>
                                 <span><?php
                                    $a = num_rows("select * from article where cid='$v[id]'");
                                    echo $a;
                                  ?></span>
                                <a href=index.php?action=del_cate&del_id=<?php echo $v["id"]; ?>><img src='../static/images/del.gif' style='cursor:pointer' width='20'
                                        height='20' border='0'></a>
                                </li>

                        <?php } ?>
                    </ul>
                </div>
            </div>
            <div id="panelSearch" class="panel">
                <h5 >最新日志</h5>
                <div class="panel-content">
                    <ul>
                        <?php foreach($info as $v){ ?>

						<li>
                        <img src='../static/images/icon_ctb.gif' width='11' height='11' border='0'  align='absmiddle'/>
                        <a href='#' ><?php echo $v["title"] ?></a>
                        <sup style='color:silver;font-size:12px'>
                        [<span style='color:#3366CC'><?php echo $v["views"] ?><!-- 阅读数 --></span> |<span style='color:#FF6600'><?php echo $v["comm"];?><!-- 评论数 --></span>]
                        </sup>
                        </li>
                           <?php }?>

                    </ul>
                </div>
            </div>
            <div id="panelSearch" class="panel">
                <h5 >最新评论</h5>
                <div class="panel-content">
                    <ul>
                        <?php foreach($comm as $k){ ?>
                            <li>
                            <img src='../static/images/Comment.gif' width='9'
                                      height='9' border='0' align='absmiddle'>
                            <a href='#'> <span style='color:#3366CC'><?php echo $k["author"] ?></span></a>
                            <a href='#' ><?php echo $k["content"] ?></a>
                            </li>
                        <?php } ?>

                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
<!-- 版权信息区域 -->
<div id="footer" class="footer" >
    <div id="innerFooter">Powered by 武汉长乐教育 |  <a target="_blank" href="http://www.whphp.com">whphp</a></div>
</div>
</body>
</html>